<h1>Posts</h1>

<ul class="list-unstyled">
  {{#each model as |post|}}
  <li>
    {{post.title}}
    <span class="muted">
      by {{post.author.name}}
    </span>

  </li>
  {{/each}}
</ul>
<form id="add-new-blog">
    User name:
    <br>
    <input type="text" name="userName">
    <br>
    Title:
    <br>
    <input type="text" name="title">
    <br>
    Contents:
    <br>
    <input type="text" name="title">
    <br>
    <input type="submit" value="Submit">
</form>
